<!DOCTYPE html>
<html>
     <head>
      <link rel="stylesheet" href="/styles.css">
          <title>Mayke Brito</title>
     </head> 
     <body>
          <header>
               <div class="links">
                  <a href="/">Sobre</a>
                  <a href="/portfolio">Aulas</a>
                  <!--<a href="content.html">Conteúdo</a>-->
               </div> 
          </header>

          <div id="wrapper">
               <img src="https://pbs.twimg.com/profile_images/1190279367429148672/qbeF0cUT_400x400.jpg" alt="">
               <!-- <img src="mauro.jpg" alt="Mauro">-->
               <h1>Mayk Brito</h1>
               <h2>Instrutor - Rocketseat</h2>
               <p>Programador full-stack, focado em trazer o melhor ensino para iniciantes em programação, colaborador da <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a></p>
          </div>
         <div id="links-footer" class="links">
               <a href="#" target="__blank">Gihub</a> 
               <a href="#" target="__blank">Facebook</a> 
               <a href="#" target="__blank">Linkdin</a>       
         </div>
     </body> 
   </html>