{% extends "layout.html" %}

{% block head %}

   <title>Portfolio - Mayk Brito</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock head %}

{% block content %}

   <div id="wrapper">
      <h1>Aulas</h1>
   </div>

   <section class="cards">

      <div class="card" id="GykTLqODQuU">

         <div class="card_image-container">
            <img src="http://i3.ytimg.com/vi/GykTLqODQuU/maxresdefault.jpg" alt="Video aula">
         </div>

         <div class="card_content">
            <p>Formulário Animando com JS puro e CSSAnimation | Mayk Brito
            </p>
         </div>

         <div class="card_info">
            <p>57 min</p>
            <p class="card_price">Free</p>
         </div>
      </div>

      <div class="card" id="HN1UjzRSdBk">

         <div class="card_image-container">
            <img src="http://i3.ytimg.com/vi/HN1UjzRSdBk/maxresdefault.jpg" alt="Video aula">
         </div>

         <div class="card_content">
            <p>Desvendando o css grid na prática | Mayk Brito
            </p>
         </div>

         <div class="card_info">
            <p>57 min</p>
            <p class="card_price">Free</p>
         </div>
      </div>

      <div class="card" id="rAzHvYnQ8DY">

         <div class="card_image-container">
            <img src="http://i3.ytimg.com/vi/rAzHvYnQ8DY/maxresdefault.jpg" alt="Video aula">
         </div>

         <div class="card_content">
            <p>
               Array high order function | Mayk Brito
            </p>
         </div>

         <div class="card_info">
            <p>57 min</p>
            <p class="card_price">Free</p>
         </div>
      </div>

      <div class="card" id="ghTrp1x_1As">

         <div class="card_image-container">
            <img src="http://i3.ytimg.com/vi/ghTrp1x_1As/maxresdefault.jpg" alt="Video aula">
         </div>

         <div class="card_content">
            <p>O que é API? Rest e Restful? | Mayk Brito
            </p>
         </div>

         <div class="card_info">
            <p>57 min</p>
            <p class="card_price">Free</p>
         </div>
      </div>

      <div class="card" id="GSqR2i-Pq6o">

         <div class="card_image-container">
            <img src="http://i3.ytimg.com/vi/GSqR2i-Pq6o/maxresdefault.jpg" alt="Video aula">
         </div>

         <div class="card_content">
            <p>Desvendando a variavél THIS | Mayk Brito
            </p>
         </div>

         <div class="card_info">
            <p>57 min</p>
            <p class="card_price">Free</p>
         </div>
      </div>

      <div class="card" id="2alg7MQ6_sI">

         <div class="card_image-container">
            <img src="http://i3.ytimg.com/vi/2alg7MQ6_sI/maxresdefault.jpg" alt="Video aula">
         </div>

         <div class="card_content">
            <p>Git e Github na Prática | Mayk Brito
            </p>
         </div>

         <div class="card_info">
            <p>57 min</p>
            <p class="card_price">Free</p>
         </div>
      </div>

   </section>

   <div class="modal-overlay">

      <div class="modal">
         <a class="close-modal">
            <i class="material-icons">close</i>
         </a>
         <div class="modal-content">
            <iframe src="" frameborder="0"></iframe>
         </div>
      </div>

   </div>

   <script src="scripts.js"></script>

{% endblock content %}