{% extends "layout.njk" %}

{% block head %}

  <title>{{item.title}}</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock head %}

{% block content %}

  <div id="wrapper" class="video">
    <h1>{{item.title}}</h1>
  </div>

  <section class="video">

    <div class="card" id="{{item.id}}">

      <div class="card_video-container">
        <iframe src="https://www.youtube.com/embed/{{item.id}}" frameborder="0"></iframe>

      </div>
    </div>

  </section>

{% endblock content %}